<h1>Genres</h1>

<%= link_to "Create genre", new_genre_path, class: 'btn btn-success' %>

<div class="row">
  <div class="col-md-4">
    <div id="genres">
      <ul>
        <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name, genre %>
            <a href="#" data-bs-toggle="modal" data-bs-target="#genreModal<%= genre.id %>"><i class="fa-regular fa-pen-to-square"></i></a>
            <%= link_to genre_path(genre), data: { turbo_method: :delete, turbo_confirm: "Are you sure you wish to delete #{genre.name}?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            <%= render 'books/modals/genres/genre_modal', genre: genre, id: "genreModal#{genre.id}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>