<%= search_form_for @q do |f| %>
  <div class="row row-cols-lg-auto g-7 align-items-center">
    <div class="col-12">
      <%= f.label :forename_or_surname_cont, 'Name' %>
      <%= f.search_field :forename_or_surname_cont, class: 'form-control' %>
    </div>
    <div class="col-12">
      <%= f.label :nationality_eq, 'Nationality' %>
      <%= f.select :nationality_eq, Author.nationalities, { include_blank: true }, class: 'form-select' %>
    </div>
    <div class="col-12">
      <%= f.label :gender_eq, 'Gender' %>
      <%= f.select :gender_eq, ['Female', 'Male'], { include_blank: true }, class: 'form-select' %>
    </div>
    <div class="col-12 search-and-reset">
      <%= f.submit 'Search', class: 'btn btn-success search-button' %>
      <%= clear_filter title: 'Reset', class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
<hr>
<div class="col-12">
  <%= render 'import' %>
</div>