<%= search_form_for @q do |f| %>
  <div class="row row-cols-lg-auto g-7 align-items-center">
    <div class="col-12">
      <%= f.label :title_cont, 'Title' %>
      <%= f.search_field :title_cont, class: 'form-control' %>
    </div>
    <div class="col-12">
      <%= f.label :author_forename_or_author_surname_cont, 'Author' %>
      <%= f.search_field :author_forename_or_author_surname_cont, class: 'form-control' %>
    </div>
    <div class="col-12">
      <%= f.label :author_nationality_eq, 'Nationality' %>
      <%= f.select :author_nationality_eq, Author.pluck(:nationality).uniq, { include_blank: true }, class: 'form-select' %>
    </div>
    <div class="col-12">
      <%= f.label :author_gender_eq, 'Gender' %>
      <%= f.select :author_gender_eq, %w[Female Male], { include_blank: true }, class: 'form-select' %>
    </div>
    <div class="col-12">
      <%= f.label :genres_name_eq, 'Genre' %>
      <%= f.select :genres_name_eq, Genre.pluck(:name).uniq, { include_blank: true }, class: 'form-select' %>
    </div>
    <div class="col-12">
      <%= f.label :status, 'Status' %>
      <%= f.select :status, Book::STATUSES, { include_blank: true }, class: 'form-select' %>
    </div>
    <div class="col-12 search-and-reset">
      <%= f.submit 'Search', class: 'btn btn-success search-button' %>
      <%= clear_filter title: 'Reset', class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
<hr>
<div class="col-12">
  <%= render 'import' %>
</div>
