<div id="<%= dom_id book_goal_timeline %>">
  <p>
    <strong>Book goal:</strong>
    <%= book_goal_timeline.book_goal_id %>
  </p>

  <p>
    <strong>Week one:</strong>
    <%= book_goal_timeline.week_one %>
  </p>

  <p>
    <strong>Week two:</strong>
    <%= book_goal_timeline.week_two %>
  </p>

  <p>
    <strong>Week three:</strong>
    <%= book_goal_timeline.week_three %>
  </p>

  <p>
    <strong>Week four:</strong>
    <%= book_goal_timeline.week_four %>
  </p>

</div>
