<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :forename, style: "display: block" %>
    <%= form.text_field :forename, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :surname, style: "display: block" %>
    <%= form.text_field :surname, class: 'form-control' %>
  </div>

  <%= form.hidden_field :book, value: @book %>

  <div class="modal-footer">
    <%= form.submit (author.persisted? ? 'Rename' : 'Add author'), class: 'btn btn-success' %>
  </div>
<% end %>
