<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, 'error') %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :forename, style: 'display: block' %>
    <%= form.text_field :forename, class: 'form-control', autofocus: true %>
  </div>

  <div>
    <%= form.label :surname, style: 'display: block' %>
    <%= form.text_field :surname, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :gender, style: 'display: block' %>
    <%= form.select :gender, ['Female', 'Male'], { include_blank: true }, class: 'form-select' %>
  </div>

  <div>
    <%= form.label :nationality, style: 'display: block' %>
    <%= form.select :nationality, options_for_select(Nationality::Nationality.default_option('british'), selected: form.object.nationality), { include_blank: true }, { class: 'form-select' } %>
  </div>

  <%= form.hidden_field :book, value: @book %>

  <div class="modal-footer">
    <%= form.submit (author.persisted? ? 'Update' : 'Add author'), class: 'btn btn-success' %>
  </div>
<% end %>
