<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <h3><i class="fa-solid fa-book"></i> Reading List</h3>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="nav-item">
            <%= link_to 'Authors', authors_path, class: 'nav-link' %>
          </div>
          <div class="nav-item">
            <%= link_to 'Genres', genres_path, class: 'nav-link' %>
          </div>
          <div class="nav-item">
            <%= link_to 'Yearly Goals', books_yearly_goals_path, class: 'nav-link' %>
          </div>
          <div class="nav-item">
            <%= link_to 'Series', series_index_path, class: 'nav-link' %>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</div>
