<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <h3><i class="fa-solid fa-book"></i> Reading List</h3>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% links = [
            { name: 'Shopping List', path: buy_books_path, icon: 'cart-shopping' },
            { name: 'Reviews', path: reviews_books_path, icon: 'star' },
            { name: 'Yearly Goals', path: yearly_goals_books_path, icon: 'bullseye'},
            { name: 'Generator', path: generator_books_path, icon: 'wand-magic-sparkles' },
          ] %>

          <% links.each do |link| %>
            <div class="nav-item">
              <%= link_to link[:path], class: "nav-link #{'active' if current_page?(link[:path])}" do %>
                <i class="fa-solid fa-<%= link[:icon] %>"></i><%= link[:name] %>
              <% end %>
            </div>
          <% end %>
        </ul>
        <ul class="navbar-nav ms-auto">
          <div class="nav-item">
            <%= link_to manage_books_path, class: "nav-link #{'active' if current_page?(manage_books_path)}" do %>
              <i class="fa-solid fa-gear"></i> Manage
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</div>
