<div id="right-sidebar">
  <h5>You have <%= Book.in_state(:tbr).count %> books on your TBR list:</h5>
  <% Book.in_state(:tbr).each do |book| %>
    <div class="card">
      <div class="card-body">
        <div class="pull-right">
          <%= link_to edit_book_path(book) do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        </div>
        <h6 class="card-title">
          <%= book.title %><br> 
        </h6>
        <p>
          by <%= book.author.full_name %>
        </p>
        <p class="small-text">
          <i><%= book.genre.name %></i>
        </p>
        <p class="rental-text">
          <% if book.rental.present? %>
            Rental
            <% if book.rental.loaner.week_duration.present? %>
              due on <%= (book.rental.loaner.week_duration.weeks).strftime("%d %B") %>
            <% end %>
          <% end %>
        </p>
        <p class="card-text <%= stale?(book) ? 'stale-book' : 'fresh-book' %>">
          Added on <%= book.book_transitions.last.created_at.strftime("%d %B") %>
        </p>
        <span class="badge rounded-pill text-bg-<%= length_klass(book) %>"><%= book.length_in_words %></span>
      </div>
    </div>
  <% end %>
</div>
