<div id="right-sidebar">
  <% if currently_reading.present? %>
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Currently reading</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <%= currently_reading.title %>
        by <%= currently_reading.author.full_name %>
        <span class="small-text">
          <%= link_to 'Update Status', edit_book_path(currently_reading) %>
        </span>
      </div>
    <% end %>
  </div>
  <h5>You have <%= Book.tbr.count %> books on your TBR list:</h5>
  <% Book.tbr.includes(:author, :rental).each do |book| %> <!-- TODO: Add :genre into includes once they all have it -->
    <div class="card">
      <div class="card-body">
        <div class="pull-right">
          <%= link_to edit_book_path(book) do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        </div>
        <h6 class="card-title">
          <%= book.title %><br> 
        </h6>
        <p>
          by <%= book.author.full_name %>
        </p>
        <p class="small-text">
          <% book.genres.each do |genre| %>
            <i><%= genre.name %></i>
          <% end %>
        </p>
        <p class="rental-text">
          <% if book.rental.present? %>
            Rental
          <% end %>
        </p>
        <span class="badge rounded-pill text-bg-<%= length_klass(book) %>"><%= book.length_in_words %></span>
      </div>
    </div>
  <% end %>
</div>
