<div class="nested-fields book-goal">
  <%= f.hidden_field :_destroy %>
  <% if @book.book_goals.none? %>
    <div class="form-field book-select">
      <%= f.label :month, style: 'display: block' %>
      <%= f.select :month, Date::MONTHNAMES, class: 'form-control', style: 'width: 200px;' %>
      <%= link_to_remove_association f do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
    <%= f.hidden_field :year, value: DateTime.now.year %>
  <% else %>
    <%= f.hidden_field :_destroy %>
    <div class="form-field book-select">
      <%= f.label :month, style: 'display: block' %>
      <%= f.select :month, Date::MONTHNAMES, class: 'form-control', style: 'width: 200px;' %>
      <%= link_to_remove_association f do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
  <% end %>
</div>
