<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genres.each do |genre| %>
      <%= genre.name %>
    <% end %>
  </p>

</div>
