<h4>Book Details</h4>
<div class="form-field">
  <%= form.label :title, style: 'display: block' %>
  <%= form.text_field :title, class: 'form-control', style: 'width: 400px;', autofocus: true %>
</div>
<div class="form-field" style="width: 300px">
  <%= form.label :author_id, style: 'display: block' %>
  <%= form.select :author_id, Author.order(:forename).collect { |author| [ author.full_name, author.id ] }, { include_blank: true }, { data: { controller: 'slim' } } %>
  <span class="small-text"><a href="#" data-bs-toggle="modal" data-bs-target="#authorModal">Add missing author</a></span>
</div>
<div class="form-field">
  <%= form.label :genre_id, style: 'display: block' %>
  <%= form.collection_select :genre_id, Genre.order(:name), :id, :name, include_blank: true, class: 'form-select' %>
  <span class="small-text"><a href="#" data-bs-toggle="modal" data-bs-target="#genreModal">Add missing genre</a></span>
</div>
<div class="form-field">
  <%= form.label :series_id, style: 'display: block;' %>
  <%= form.select :series_id, Series.all.sort_by { |series| series.author.forename }.collect { |series| [series.name, series.id] }, include_blank: true %>
  <span class="small-text"><a href="#" data-bs-toggle="modal" data-bs-target="#seriesModal">Add missing series</a></span>
</div>
<div class="form-field">
  <%= form.label :series_position, style: 'display: block;' %>
  <%= form.text_field :series_position %>
</div>
<div class="form-field">
  <%= form.label :total_pages, style: 'display: block' %>
  <%= form.number_field :total_pages %>
</div>
<hr>
<h4>Reading Details</h4>
<div class="form-field">
  <%= form.label 'Status', style: 'display: block;' %>
  <%= form.collection_select :status, @book.allowed_transitions, :to_s, :humanize, include_blank: true, class: 'form-select' %>
  <span class="small-text">
    <% if book.new_record? %>
      If you do not select a status, it will automatically be set to '<%= @book.current_state.humanize %>'.
    <% else %>
      This book is currently set to '<%= @book.current_state.humanize %>'
    <% end %>
  </span>
</div>
<div class="form-field" style="display: flex">
  <%= form.label :purchased, 'Owned', style: 'display: block;' %>
  <%= form.radio_button :purchased, true, style: 'margin-left: 5px;' %>
  <%= form.label :purchased, 'Need to purchase', style: 'display: block; margin-left: 10px;' %>
  <%= form.radio_button :purchased, false, style: 'margin-left: 5px;' %>
</div>
<div class="form-field">
  <div class="book_goals">
    <%= form.fields_for :book_goals do |book_goal| %>
      <%= render 'book_goal_fields', f: book_goal %>
    <% end %>
  </div>
  <% if @book.book_goals.any? %>
    <%= link_to_add_association 'Add another month', form, :book_goals, data: { association_insertion_node: '.book_goals', association_insertion_method: :append } %>
  <% else %>
    <%= link_to_add_association "Are you reading it this year?", form, :book_goals, class: 'new-goal', data: { association_insertion_node: '.book_goals', association_insertion_method: :append } %>
  <% end %>
</div>
<div class="form-field rentals">
  <%= form.fields_for :rental do |rental| %>
    <%= render 'rental_fields', f: rental %>
  <% end %>
  <div class="max-one-association">
    <%= link_to_add_association "Are you renting this book?", form, :rental, force_non_association_create: true, class: 'new-rental', data: { association_insertion_node: '.rentals', association_insertion_method: :append } %>
  </div>
</div>
