<div class="nested-fields">
  <% if @book.rental&.persisted? && @book.rental.active? %>
    <p class="rental-text">
      This book is currently being rented from <%= @book.rental.loaner.name %>.
    </p>
    <p class="rental-text">
      It is due to be returned soon
    </p>
    <div class="form-field">
      <%= f.label :active, 'Status' %>
      <%= f.select :active, options_for_select([['Outstanding', true], ['Returned to loaner', false]]) %>
    </div>
  <% elsif @book.rental&.persisted? %>
    <p>This book was borrowed from <%= @book.rental.loaner.name %></p>
  <% else %>
    <div id="rental-form" class="form-field hidden">
      <%= f.label :loaner_id %>
      <%= f.collection_select(:loaner_id, Loaner.all, :id, :name, prompt: true) %>
      <%= button_tag(type: 'button', id: 'remove-rental', class: 'btn btn-sm btn-outline-warning') do %>
        Reset Rental
      <% end %>
    </div>
  <% end %>
</div>
