<div id="edit-book">
  <h1>Editing book</h1>
  <%= form_with(model: @book) do |form| %>
    <% if @book.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@book.errors.count, 'error') %> prohibited this book from being saved:</h2>
        <ul>
          <% @book.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render 'form', book: @book, form: form %>
    <div class="form-field">
      <%= form.label 'Status', style: 'display:block;' %>
      <%= form.collection_select :status, @book.allowed_transitions, :to_s, :humanize, include_blank: true, class: 'form-select' %>
      <span class="small-text">
        This book is currently set to '<%= @book.current_state.humanize %>'
      </span>
    </div>
    <div class="form-field">
      <%= form.label :yearly_goal, 'Do you plan on reading it this year?' %><br>
      <%= form.label :yearly_goal, 'Yes', value: DateTime.now.year  %>
      <%= form.radio_button :yearly_goal, DateTime.now.year %>
      <%= form.label :yearly_goal, 'No', value: nil %>
      <%= form.radio_button :yearly_goal, nil %>
    </div>
    <div class="form-field">
      <%= form.label :length, style: 'display: block' %>
      <%= form.select :length, ['Short', 'Medium', 'Long'], include_blank: true, class: 'form-select' %>
    </div>
    <% if @book.in_state?(:read) %>
      <div class="form-field">
        <%= form.label 'Rating', style: 'display: block' %>
        <%= form.select :rating, 1..5, class: 'form-select' %>
      </div>
    <% end %>
    <%= form.submit 'Update book', class: 'btn btn-success' %>
  <% end %>
</div>
<%= render 'books/modals/authors/author_modal', author: @author, id: 'authorModal' %>
<%= render 'books/modals/genres/genre_modal', genre: @genre, id: 'genreModal' %>
<%= render 'books/modals/series/series_modal', series: Series.new, id: "seriesModal" %>
