<div class="row">
  <div class="col-md-3 left-sidebar">
    <%= render partial: 'shared/left_sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3">
        <h3>Bookshelf</h3>
      </div>
      <div class="col-md-9 pull-right">
        <div class="small-text"><%= @books.count %> results</div>
        <%= will_paginate @books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 12rem; height: 6rem;">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">You have <%= Book.all.count %> books</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 12rem; height: 6rem;">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title"><%= Book.unread.count %> books are unread</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 12rem; height: 6rem;">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">So you've only read <%= ((Book.read.count.to_f / Book.count.to_f) * 100).round(0) %>%</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Vue code below does work (as proof that VueJS is setup correctly), just commenting it out for now -->
    <!-- <div id="app"><hello-world></hello-world></div>-->
    <% if @books.any? %>
      <ul>
        <% @books.each do |book| %>
          <li>
            <%= link_to book.title, edit_book_path(book) %>
            by
            <%= link_to book.author.full_name, author_path(book.author) %>
            <span class="badge text-<%= state_klass(book) %>"><%= book.status %></span>
            <% if book.buy %>
              <span class="badge text-bg-danger">Buy</span>
            <%  end %>
            <span class="badge rounded-pill text-bg-<%= length_klass(book) %>"><%= book.length_in_words %></span>
            <% if book.rating.present? %>
              <% book.rating.times do |_| %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="small-text">Looks like you need more books! Would you like to <%= link_to 'add one', new_book_path %>?</p>
    <% end %>
  </div>
</div>
