<div class="row">
  <div class="col">
    <%= link_to "Create book", new_book_path, class: 'btn btn-success' %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= image_tag 'book1.png' %>
  </div>
  <div class="col">
    <h3>Books</h3>
    <% if @books.any? %>
      <ul>
        <% @books.each do |book| %>
          <li><%= link_to book.title, book %> by <%= link_to book.author.full_name %> (<%= book.current_state %>)</li>
        <% end %>
      </ul>
    <% else %>
      <p>You don't have any books on your shelf!</p>
      <p>Would you like to <%= link_to 'add one', new_book_path %>?</p>
    <% end %>
  </div>
</div>