<div class="row">
  <div class="col-md-3 left-sidebar">
    <%= render partial: 'shared/left_sidebar' %>
  </div>
  <div class="col-md-2">
    <%= image_tag 'book1.png', width: '100%' %>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-6">
        <h3>Bookshelf</h3>
      </div>
      <div class="col-md-6 pagination-with-count">
        <div class="small-text"><%= @books.count %> results</div>
        <%= will_paginate @books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
    <% if @books.any? %>
      <ul>
        <% @books.each do |book| %>
          <li><%= link_to book.title, edit_book_path(book) %> by <%= link_to book.author.full_name %> (<%= book.current_state %>)</li>
        <% end %>
      </ul>
    <% else %>
      <p class="small-text">Looks like you need more books! Would you like to <%= link_to 'add one', new_book_path %>?</p>
    <% end %>
  </div>
</div>