<h1>New book</h1>
<%= form_with(model: @book) do |form| %>
  <% if @book.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h5>
      <ul>
        <% @book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'form', book: @book, form: form %>
  <div class="form-field">
    <%= form.label :total_pages, style: 'display: block' %>
    <%= form.number_field :total_pages %>
  </div>
  <% @book.book_goals.each do |goal| %>
    <%= form.fields_for :book_goals, goal do |goal_fields| %>
      <div class="form-field">
        <%= goal_fields.label :year, 'Do you plan on reading it this year?' %><br>
        <%= goal_fields.label :year, 'Yes', value: DateTime.now.year  %>
        <%= goal_fields.radio_button :year, DateTime.now.year %>
        <%= goal_fields.label :year, 'No', value: nil %>
        <%= goal_fields.radio_button :year, nil %>
      </div>
      <div class="form-field">
        <%= goal_fields.label :month, 'What month do you plan to read this?', style: 'display: block' %>
        <%= goal_fields.select :month, Date::MONTHNAMES, class: 'form-control', style: 'width: 200px;' %>
        <span class="small-text">
          OPTIONAL: You only need to fill this in if you plan to read the book this year
        </span>
      </div>
    <% end %>
  <% end %>
  <div class="form-field">
    <%= form.label 'Status', style: 'display: block;' %>
    <%= form.collection_select :status, @book.allowed_transitions, :to_s, :humanize, include_blank: true, class: 'form-select' %>
    <span class="small-text">
      If you do not select a status, it will automatically be set to '<%= @book.current_state.humanize %>'.
    </span>
  </div>
  <div>
    <%= form.submit 'Add book to shelf', class: 'btn btn-success' %>
  </div>
<% end %>

<% if @author.present? && @genre.present? %>
  <%= render 'books/modals/authors/author_modal', author: @author, id: 'authorModal' %>
  <%= render 'books/modals/genres/genre_modal', genre: @genre, id: 'genreModal' %>
  <%= render 'books/modals/series/series_modal', series: Series.new, id: "seriesModal" %>
<% end %>
