<h1>New book</h1>
<%= form_with(model: @book) do |form| %>
  <% if @book.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h5>
      <ul>
        <% @book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'form', book: @book, form: form %>
  <div>
    <%= form.submit 'Add book to shelf', class: 'btn btn-success' %>
  </div>
<% end %>


<%= render 'books/modals/authors/author_modal', author: Author.new, id: 'authorModal' %>
<%= render 'books/modals/genres/genre_modal', genre: Genre.new, id: 'genreModal' %>
<%= render 'books/modals/series/series_modal', series: Series.new, id: "seriesModal" %>
