<h1>New book</h1>
<%= form_with(model: @book) do |form| %>
  <% if @book.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h5>
      <ul>
        <% @book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'form', book: @book, form: form %>
  <div class="form-field">
    <%= form.label :length, style: 'display: block' %>
    <%= form.select :length, ['Short', 'Medium', 'Long'], include_blank: true, class: 'form-select' %>
  </div>
  <div class="form-field">
    <%= form.label 'Status', style: 'display: block;' %>
    <%= form.collection_select :status, @book.allowed_transitions, :to_s, :humanize, include_blank: true, class: 'form-select' %>
    <span class="small-text">
      If you do not select a status, it will automatically be set to '<%= @book.current_state.humanize %>'.
    </span>
  </div>
  <div>
    <%= form.submit 'Add book to shelf', class: 'btn btn-success' %>
  </div>
<% end %>

<% if @author.present? && @genre.present? %>
  <%= render 'books/modals/authors/author_modal', author: @author, id: 'authorModal' %>
  <%= render 'books/modals/genres/genre_modal', genre: @genre, id: 'genreModal' %>
  <%= render 'books/modals/series/series_modal', series: Series.new, id: "seriesModal" %>
<% end %>
