<h3 class="text-center">Book reviews</h3>
<% if @books.any? %>
  <h4>5 Star Reviews</h4>
  <div class="row">
    <div class="col-md-4">
      Top 3 Genres
      <ol>
        <% RatingService.rate_records(Genre, 5, 'genres.*').each do |genre| %>
          <li><%= genre.name %></li>
        <% end %>
      </ol>
    </div>
    <div class="col-md-4">
      Top 3 Nationalities
      <ol>
        <% RatingService.rate_records(Author, 5, 'authors.nationality').each do |author| %>
          <li><%= author.nationality %></li>
        <% end %>
      </ol>
    </div>
    <div class="col-md-4">
      Top 3 Authors
      <ol>
        <% RatingService.rate_records(Author, 5, 'authors.*').each do |author| %>
          <li><%= author.forename %> <%= author.surname %></li>
        <% end %>
      </ol>
    </div>
  </div>
  <h4>1 Star Reviews</h4>
  <div class="row">
    <div class="col-md-4">
      Worst 3 Genres
      <ol>
        <% RatingService.rate_records(Genre, 1, 'genres.*').each do |genre| %>
          <li><%= genre.name %></li>
        <% end %>
      </ol>
    </div>
    <div class="col-md-4">
      Worst 3 Nationalities
      <ol>
        <% RatingService.rate_records(Author, 1, 'authors.nationality').each do |author| %>
          <li><%= author.nationality %></li>
        <% end %>
      </ol>
    </div>
    <div class="col-md-4">
      Worst 3 Authors
      <ol>
        <% RatingService.rate_records(Author, 1, 'authors.*').each do |author| %>
          <li><%= author.forename %> <%= author.surname %></li>
        <% end %>
      </ol>
    </div>
  </div>
<% else %>
  <p>You have no reviews. Please add some.</p>
<% end %>
