<h3>Unrated books</h3>
<% if @books.any? %>
  <% @books.each do |book| %>
    <p>
      <%= book.title %> by <%= book.author.full_name %>
      <% if book.status.read? %>
        (read)
      <% end %>
    </p>
    <% (1..5).each do |rating_option| %>
      <button class="rating-option btn btn-sm btn-outline-primary" data-book-id="<%= book.id %>" data-rating="<%= rating_option %>"><%= rating_option %></button>
    <% end %>
    <hr>
  <% end %>
<% else %>
  <p>You have no unrated books, yay!</p>
<% end %>
