<h3>Unrated books</h3>
<% @books.sort_by { |b| b.author.surname }.each do |book| %>
  <p>
    <%= book.title %> by <%= book.author.full_name %>
    <% if book.status == 'read' %>
      (read)
    <% end %>
  </p>
  <% [1, 2, 3, 4, 5].each do |rating_option| %>
    <button class="rating-option btn btn-sm btn-outline-primary" data-book-id="<%= book.id %>" data-rating="<%= rating_option %>"><%= rating_option %></button>
  <% end %>
  <hr>
<% end %>
