<div class="row">
  <div class="col-md-12">
    <div id="yearly-goals-header">
      <div class="row">
        <div class="col-md-6">
          <h3>Yearly Goals</h3>
        </div>
        <div class="col-md-6 pull-right">
          <div class="small-text"><%= @books.count %> results</div>
          <%= will_paginate @books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </div>
      <h5>You are reading <%= pluralize(@books.count, 'book') %> this year</h5>
      <% if @books.any? %>
        <p>
          This includes <%= yearly_goals_count('Short') %> short books,
          <%= yearly_goals_count('Medium') %> medium books and
          <%= yearly_goals_count('Long') %> long books.
        </p>
        <p>
          <% if yearly_goals_count('Long') > 4 %>
            <span class="small-text">
              <span class="badge rounded-pill text-bg-danger">Warning</span>
              You're reading too many long books to achieve your goal.
              Consider replacing <%= yearly_goals_count('Long') - 4 %> of them with shorter books.
            </span>
          <% end %>
        </p>
        <ul>
          <% @books.each do |book| %>
            <li>
              <%= link_to book.title, book_path(book) %> by <%= book.author.full_name %>
              <span class="badge rounded-pill text-bg-<%= length_klass(book) %>"><%= book.length %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <hr>
    <% if @books.any? %>
      <div id="yearly-goals-footer">
        <div class="row">
          <div class="col-md-12">
            <h4>Statistics</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= pie_chart @books.joins(:genre).group(:name).count, colors: ["#977B95", "#898DA5", "#85A1A9", "#A1E6CC", "#313633", "#88589E", "#CB9BB7", "#E2C2C5"] %>
            <div class="small-text">Genre</div>
          </div>
          <div class="col-md-4">
            <%= pie_chart @books.joins(:author).group(:gender).count, colors: ["#EB4F74", "#25465D"] %>
            <div class="small-text">Gender</div>
          </div>
          <div class="col-md-4">
            <%= pie_chart @books.joins(:author).group(:nationality).count, colors: ["#CC8D7A", "#E28F58", "#E7A855", "#ECCC5B", "#5D748D", "#E4834A", "#4188E2"] %>
            <div class="small-text">Nationality</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>