<div class="row">
  <div class="col-md-6">
    <h3>Book Series</h3>
  </div>
  <div class="col-md-6 pull-right">
    <%= link_to 'New series', new_series_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% @series.includes(:author).each do |series| %>
      <hr>
      <div class="book-series">
        <h5><%= series.name %> by <%= series.author.full_name %></h5>
        <% series.books.order(:series_position).each do |book| %>
          <p>
            <strong><%= book.series_position %>.</strong>
            <%= book.title %>
            <% if book.in_state?(:buy) %>
              <% state_klass = 'bg-danger' %>
              <% state_text = 'Buy' %>
            <% elsif book.in_state?(:read) %>
              <% state_klass = 'bg-success' %>
              <% state_text = 'Read' %>
            <% elsif book.in_state?(:tbr) %>
              <% state_klass = 'bg-warning' %>
              <% state_text = 'TBR' %>
            <% elsif book.in_state?(:reading) %>
              <% state_klass = 'bg-primary' %>
              <% state_text = 'Reading' %>
            <% else %>
              <% state_klass = 'hidden' %>
              <% state_text = '' %>
            <% end %>
            <span class="badge rounded-pill <%= state_klass %>">
              <%= state_text %>
              <span class="visually-hidden"><%= state_text %></span>
            </span>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
