<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>Reading List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/92656d8ae3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'shared/navigation' %>
    <div class="container">
      <% flash.each do |type, msg| %>
        <div class="alert alert-success">
          <%= msg %>
        </div>
      <% end %>
      <% if currently_reading.present? %>
        <div class="alert alert-primary">
          <div class="row justify-content-between">
            <div class="col">
              Currently reading:
              <%= currently_reading.title %>
              by <%= currently_reading.author.full_name %>
            </div>
            <div class="col" style="text-align: right">
              <span class="small-text"><i>(Started reading on <%= currently_reading.book_transitions.last.created_at.strftime("%d %B") %>)</i></span>
              <span class="currently-reading"><%= link_to 'Update Status', edit_book_path(currently_reading) %></span>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-2">
          <%= render partial: 'shared/left_sidebar' %>
        </div>
        <div class="col-md-8" id="main-content">
          <%= yield %>
        </div>
        <div class="col-md-2">
          <%= render partial: 'shared/right_sidebar' %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
